*{
    margin: 0px;
    padding: 0px;
}



/* index.php  */
#charts>div{
  
   border: 1px solid red;
   width: 99%;
   margin: auto;     
}

#charts>div>div{
   width: 95%;
   margin: auto;
/*       border: 1px solid red;*/
   margin-top: 10px;
   margin-bottom: 10px;     
}
.top-menu{
    display:inline-block;
    padding: 5px;
}

.top-menu>button{
    margin-right: 10px;
    border-radius: 15px;
    width: 10%;
}


 #charts{
   margin: 10px;
   border: 1px solid red;
}

#group-btn>button{
    margin: 0px;
    border: 1px solid red;
}

.input-filter{
    width: 95%;
    border-radius: 25px;
    
    
}
.input-apply{
    
    width: 50%;
    margin-left: 10px;
    height: 25px;
    padding: 0px;

}




.list-item{
    position: absolute;
    z-index: 1;
    background-color: rgb(215, 215, 240);
    width: 100%;
}

.list-item>div:hover{
    background-color: darkgray;
}

.grafic-margin{
    margin: 1%;
    border: 1px solid grey;
} 


/*end index.php  */

/* login.php */


#login-form{
                
               
    margin-top: 35%;
    text-align: center;

}


#login-form .form-input{
    width: 75%;
    margin: auto;
    border-radius: 25px;
    margin:10px;
    height: 35px;
    border-color:blue; 
    padding-left: 20px;
  
}




#login>div{
    
    height: 100vh;
   
}

/* end login.php */